.container-grid {
    display: grid;
    grid-template-rows: auto auto;
    margin: 0;
    gap: 5rem;
    color: map-get($colores,"blanco" );
    background-color: map-get($colores , "principal" );
}


.container-sesion {
    @include contenedor-grande();

    color: map-get($colores, "blanco");
}

.container-registrarse {
    @include contenedor-grande();

    color: map-get($colores, "blanco");
}
