.section-elegirnos {
    h2{
        text-align: center;
    }
    display: grid;
    background-color: map-get($colores , "principal" );
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: auto;
        font-size: 200%;
    }

    p {
        text-align: center;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin: auto;
        font-size: 200%;
    }
}

.section-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: map-get($colores , "principal" );

    h2 {
        grid-column: 2 / 4;
        margin: auto;
        font-size: 200%;
    }

    p {
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        margin: auto;
        font-size: 200%;
    }
}


@media (max-width:1024px){
    .section-elegirnos {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin: auto;
    }

    .section-nosotros{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        margin: auto;
    }

}



