*{
    box-sizing: border-box;
    margin: auto;
}

li {
    list-style: none;
}

button a {
    text-decoration: none;
}

h2 {
    font-family: $font-titulo;
}

body{
    height: 100%;
    width: 100%;
}